.ourProducts {
  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.ourProducts__cards {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.ourProducts__cards__card {
  padding: 24px;
  background-repeat: no-repeat;
  width: 256px;
  height: 424px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .ourProducts__cards__card:hover {
    transform: translateY(-10px);
  }
}

.ourProducts__cards__card__icon {
  background-color: #00b8db;
  border-radius: 50%;
  padding: 18px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourProducts__cards__card__subtitle {
  margin-top: 5px;
  font-size: 14px;
}

.ourProducts__cards__card:nth-child(1) {
  background-image: url(../../../public/oils-card-bg.jpg);
  background-size: cover;
}

.ourProducts__cards__card:nth-child(2) {
  background-image: url(../../../public/face-card-bg.jpg);
  background-size: cover;
}

.ourProducts__cards__card:nth-child(3) {
  background-image: url(../../../public/body-card-bg.jpg);
  background-size: cover;
}

.ourProducts__cards__card:nth-child(4) {
  background-image: url(../../../public/hair-card-bg.jpg);
  background-size: cover;
}

.ourProducts__cards__card:nth-child(5) {
  background-image: url(../../../public/decoration-card-bg.jpg);
  background-size: cover;
}

@media (max-width: 1250px) {
  .ourProducts__cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .ourProducts__cards > * {
    flex: 0 0 224px;
  }
}
