.ourProducts {
  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.ourProducts__cards {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.ourProducts__cards__card {
  padding: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 256px;
  height: 424px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;

  background-size: 100%;
  transition:
    transform 0.3s ease,
    background-size 0.5s ease;
  overflow: hidden;
}

.ourProducts__cards__card__icon {
  padding: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
}

.ourProducts__cards__card__icon.drop {
  background-color: #00b8db;
}

.ourProducts__cards__card__icon.magic {
  background-color: #AD46FF;
}

.ourProducts__cards__card__icon.heart {
  background-color: #F6339A;
}

.ourProducts__cards__card__icon.waves {
  background-color: #2B7FFF;
}

.ourProducts__cards__card__icon.paints {
  background-color: #E12AFB;
}

@media (hover: hover) and (pointer: fine) {
  .ourProducts__cards__card:hover {
    background-size: 110%;
  }
}

.ourProducts__cards__card:nth-child(1) {
  background-image: url(../../../public/oils-card-bg.jpg);
}

.ourProducts__cards__card:nth-child(2) {
  background-image: url(../../../public/face-card-bg.jpg);
}

.ourProducts__cards__card:nth-child(3) {
  background-image: url(../../../public/body-card-bg.jpg);
}

.ourProducts__cards__card:nth-child(4) {
  background-image: url(../../../public/hair-card-bg.jpg);
}

.ourProducts__cards__card:nth-child(5) {
  background-image: url(../../../public/decoration-card-bg.jpg);
}

@media (max-width: 1150px) {
  .ourProducts {
    overflow: hidden;
  }

  .ourProducts__cards {
    width: 100vw;
    margin-top: 32px;
    margin-left: calc(50% - 50vw);
    padding: 0 16px 8px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .ourProducts__cards__card {
    flex: 0 0 256px;
  }
}
