.CartDescriptionModal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1200px;
    height: fit-content;
    padding: 50px;

    h2 {
        margin-bottom: 10px;
    }
}

.CartDescriptionModal__content__wrap {
    display: flex;
    align-items: start;
    gap: 80px;
}

.CartDescriptionModal__content__image,
.CartDescriptionModal__content__right {
    width: calc(50% - 40px);
}

.CartDescriptionModal__content__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-button {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
}