.adminLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50 0;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;

  input {
    background-color: lightgray;
    border: none;
    padding: 10px;
    font-size: 15px;
  }

  input:focus {
    outline: none;
    border: 1px solid gray;
  }

  .defaultButton {
    margin: 0 auto;
  }
}

.admin__sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #4a4a4a;
  width: 300px;
  padding: 30px 20px;
  height: -webkit-fill-available;
  color: white;

  .admin__sidebar__link {
    transition: color 0.3s;
  }

  .admin__sidebar__link:hover {
    color: darkgray;
  }
}

.admin {
  display: flex;
  align-items: start;
  gap: 50px;
  padding-bottom: 50px;
}

.admin__edit__card__image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: auto;
}

.admin__edit__card__description {
  word-break: break-word;
}

.admin__edit {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 50px;
}

.admin__edit__card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #4a4a4a;
  background-color: #fff9f5;
  padding-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 10px 30px rgba(217, 185, 163);
  max-width: 300px;
}

.admin__edit__card__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.admin__edit__card__buttons__button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.admin__form {
  background-color: white;
  box-shadow: 0 10px 30px rgba(217, 185, 163);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;
}

.adminAdd {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  width: 100%;

  .defaultButton {
    margin: 0 auto;
    font-size: 12px;
  }

  input,
  .admin__form__imageUpload,
  .admin__form__buttonUpload {
    background-color: lightgray;
    border: none;
    padding: 10px;
    font-size: 15px;
  }

  input {
    width: 100%;
  }

  .admin__form__buttonUpload {
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .admin__form__uploadImage__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h4 {
      margin-top: 20px;
    }
  }

  .admin__form__imageUpload__img {
    margin: 20px auto;
    width: 100%;
    height: auto;
  }
}
