.header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header__navs {
    display: flex;
    align-items: center;
    gap: 20px;

    .header__nav {
      background: none;
      border: none;
      color: #2B2623;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.3s;
    }

    .header__nav:hover {
      color: gray;
    }
  }
}
