.header {
  .container {
    display: flex;
    align-items: center;
    /* padding-right: 160px; */
    position: relative;
    padding: 50px 0;
  }

  .header__logo__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 10px;
  }

  .header__navs {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;

    .header__nav {
      background: none;
      border: none;
      color: #4a4a4a;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      transition: color 0.3s;
    }

    .header__nav:hover {
      color: gray;
    }

    @media (max-width: 1200px) {
      .header__nav:hover {
        color: #4a4a4a;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .header__logo__wrapper {
      gap: 0;
      top: 0;

      .header__logo {
        height: 120px;
        width: 120px;
      }
    }

    .header__navs {
      gap: 10px;

      .header__nav {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 760px) {
  .header {
    display: flex;
    justify-content: center;

    .container {
      padding: 0;
    }

    .header__logo__wrapper {
      position: relative;
    }

    .header__navs {
      display: none;
    }
  }
}
