.essentialOils {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    .essentialOils__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      text-align: center;
    }
  }
}

@media (max-width: 760px) {
  .essentialOils {
    .container {
      padding-top: 20px;
      padding-bottom: 20px;

      .essentialOils__content {
        .essentialOils__left__subtitle {
          font-size: 12px;

          br {
            display: none;
          }
        }
      }
    }
  }
}
